# Diretórios de build e compilação
/build/
/.idea/
/.gradle/
/captures/
/.externalNativeBuild/
/local.properties
/.cxx/

# Arquivos de cache e de configuração do Android Studio
*.iml
*.hprof
*.log
*.tmp
*.class
*.apk
*.db
*.cxx
*.ccls-cache/

# Arquivos gerados automaticamente
.DS_Store
Thumbs.db

# Arquivos de sistema do Windows
*.exe
*.dll
*.bat
*.lnk
desktop.ini

# Arquivos compilados
*.class
*.jar
*.war
*.ear

